<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidsummary" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".SummaryApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".libraries.Glide.GlideIndexActivity" />
        <!--三方库首页-->
        <activity android:name=".libraries.LibrariesIndexActivity" />
        <activity android:name=".libraries.Glide.RoundGlideActivity" />
        <activity android:name=".android.AndroidIndexActivity" />
        <activity android:name=".android.widget.WidgetIndexActivity" />
        <activity android:name=".android.widget.recyclerview.HorizontalPageActivity" />
        <activity android:name=".android.widget.recyclerview.RecyclerViewIndexActivity" />
        <activity android:name=".android.widget.MyViewPagerActivity" />
        <activity android:name=".android.widget.HorizontalPageActivity" />
    </application>

</manifest>